*{
    font-family: Raleway;
}


/* CSS relacionado a tag header : INICIO*/
    header{
        display: flex;
        justify-content: space-between;

        align-items: stretch;
    }

    #campoDeBusca{
        background-color: #F5F5F5;
        border-radius: 10px;

        height: 40px;
        width: 50%;
    }

    #botaoDeLogin{
        background-color: #FFFFFF;
        height: 40px;
        width: 10%;
        
        margin-left: 2%;
        border-color: #2A7AE4;
    }

    #linkLogin{
        color: #2A7AE4;
    }
/* CSS relacionado a tag header : FIM*/


/* CSS relacionado a parte a imagem proximo ao header : INCIO */
.imagemDeFundo{
    background-image: url("/images/Hero.webp");
    background-size: 100% 100%;

    color: #FFFFFF;
    height: 352px;
}

#botaoVerConsoles{
    background: #2A7AE4;
    color: #FFFFFF;
    align-items: center;

    width: 130px;
    height: 51px;

    border: #2A7AE4;
    flex-direction: row;
}

#detalhes{
    margin-left: 152px;
    gap: 16px;
    position: relative;
    top: 100px;
}
/* CSS relacionado a parte a imagem proximo ao header : FIM */


/* CSS relacionado a tabela de produtos : INICIO*/
    #tabelaDeProdutos{
        display: flex;

        /* Os seus itens filho da #tabelaDeProdutos fica organizado em colunas*/
        flex-direction: column;
        
        background-color: #F5F5F5;
    }

    .blocoDeProdutos{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;

        display: flex;

        /*stretch: faz com que os itens creçam igualmente*/
        align-items: stretch;
    }

    .cabecalhoBloco{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .produto {
        margin-left: 1%;
        margin-right: 1%;
        display: block;
    }

    .imgProduto{
        width: 100%;
    }

    .verTodos{
        align-self: center;
        color: #2A7AE4;
    }

    .verProduto{
        color: #2A7AE4;
    }
/* CSS relacionado a tabela de produtos : FIM*/



/* CSS relacionado a tag footer : INICIO*/
footer{
    display: block; 
}

#parteSuperior{
    background-color: #EAF2FD;
    justify-content: space-around;
    display: flex;
    align-items: center;

    /* Permiti a quebra de linha dos itens*/
    flex-wrap: wrap;

    padding-bottom: 30px;
    padding-top: 30px
}

#imagem{
    width: 151px;
    height: 39px;
}

#informações{
   display: block;
}

#contato{
    display: block;
}

label{
    bottom: -20px;
    position: relative;
    color:  #A2A2A2;
    margin-left: 12px;
    margin-bottom: 16px;
}

.campoDeDados{
    padding-top: 15px;
    height: 56px;
    width: 500px;
    background-color: #FFFFFF;
}

.escreverMensagem{
    height: 82px;
}

#enviarMensagem{
    padding: 16px;
    margin-top: 8px;
    background-color: #2A7AE4;
    color: #FFFFFF;
}

a{
    /*color: Define a cor do texto*/
    color:  #464646;

    /*Text-decoration: define a inserção de underline no texto do link*/
    text-decoration: none;
    display: block;
}

#parteInferior{
    background-color: #FFFFFF;
    display: flex;

    align-items: center;
    flex-direction: column;
}

#autor{
    color: #464646;
}

#anoDeConstrucao{
    color: #464646;
}
/* CSS relacionado a tag footer : FIM*/


/* Media queries definidas para ativar determinadas ações conforme a largura da tela 
   seja menor que (max é igual a <)*/
@media (max-width: 768px){
    .campoDeDados{
        padding-top: 15px;
        height: 56px;
        width: 350px;
        background-color: #FFFFFF;
    }

    .desaparece{
        display: none;
    }
} 

@media (max-width: 368px){
    .campoDeDados{
        padding-top: 15px;
        height: 56px;
        width: 300px;
        background-color: #FFFFFF;
    }

    
    .desaparece{
        /* O display none remove o item da tela*/
        display: none;
    }

    .removido{
        display: none;
    }
}