*{
    font-family: Raleway;
}


/* CSS relacionado a tag header : INICIO*/
    header{
        display: flex;
        justify-content: space-between;
    }

    #campoDeBusca{
        background-color: #F5F5F5;
        border-radius: 10px;

        height: 40px;
        width: 393px;
    }

    #botaoDeLogin{
        background-color: #FFFFFF;
        height: 40px;
        width: 10%;

        color: #2A7AE4;
        border-color: #2A7AE4;
    }
/* CSS relacionado a tag header : FIM*/


.imagemDeFundo{
    background-image: url("/images/Hero.webp");
    background-size: 100% 100%;

    color: #FFFFFF;
    height: 352px;
}

#tabelaDeProdutos{
    background-color: #F5F5F5;
    justify-content: space-around;
}

#botaoVerConsoles{
    background: #2A7AE4;
    color: #FFFFFF;
    align-items: center;

    width: 130px;
    height: 51px;

    border: #2A7AE4;
    flex-direction: row;
}

#detalhes{
    margin-left: 152px;
    gap: 16px;
    position: relative;
    top: 100px;
}


/* CSS relacionado a tag footer : INICIO*/
    #tabelaDeProdutos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
        flex-wrap: wrap;
    }

    .blocoDeProdutos{
        display: flex;
        justify-content: space-between;
        
    }

    .cabecalhoBloco{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .produto {
        width: 15.7%;
    }

    .imgProduto{
        width: 100%;
    }

    .verTodos{
        display: flex;
        justify-content: center;
    }

    .verProduto{
        color: #2A7AE4;
    }
/* CSS relacionado a tag footer : FIM*/



/* CSS relacionado a tag footer : INICIO*/
footer{
    display: block;
}

#parteSuperior{
    background-color: #EAF2FD;
    justify-content: space-around;
    display: flex;
    align-items: center;

    height: 381px;
}

#parteInferior{
    background-color: #FFFFFF;
    display: flex;

    flex-direction: column;
}

#imagem{
    width: 151px;
    height: 39px;
}

#informações{
   display: block;
}

#contato{
    display: block;
}

label{
    bottom: -20px;
    position: relative;
    color:  #A2A2A2;
    margin-left: 12px;
    margin-bottom: 16px;
}

.campoDeDados{
    padding-top: 15px;
    height: 56px;
    width: 500px;
    align-self: stretch;
    background-color: #FFFFFF;
}

.escreverMensagem{
    height: 82px;
}

@media (max-width: 768px){
    .campoDeDados{
        padding-top: 15px;
        height: 56px;
        width: 365px;
        align-self: stretch;
        background-color: #FFFFFF;
    }
} 

@media (max-width: 368px){
    .campoDeDados{
        padding-top: 15px;
        height: 56px;
        width: 300px;
        align-self: stretch;
        background-color: #FFFFFF;
    }
}

#enviarMensagem{
    padding: 16px;
    margin-top: 8px;
    background-color: #2A7AE4;
    color: #FFFFFF;
}

a{
    /*color: Define a cor do texto*/
    color:  #464646;

    /*Text-decoration: define a inserção de underline no texto do link*/
    text-decoration: none;
    display: block;
}

.autor{
    align-self: center;
    color: #464646;
}
/* CSS relacionado a tag footer : FIM*/